.calendar {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    overflow: hidden;
}
.calendar ul {
    list-style-type: none;
    margin: 0;
}
.calendar .month-name {
    text-align: center;
    font-size: 26px;
    margin: 0;
    background-color: #3E454C;
    color: white;
    padding: 6px 0;
}
.calendar hr {
    border-color: rgba(100, 100, 100, 0.2);
}

.weekdays {
    font-size: 16px;
    text-align: center;
    padding: 4px 0;
    background-color: #2C3135;
    color: white;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    border-right: 1px solid;
}
.weekdays::last-child li {
    border-right: none;
}

.days {
    text-align: center;
    padding: 2px 0;
    overflow: hidden;
    font-size: 18px;
}
.days li {
    display: inline-block;
    width: 13.6%;
   /* border-radius: 4px;

    cursor: pointer;*/
}
.days li:hover {
}
.days .day-item {

    background-color: white;
    transition: background-color 0.3s ease;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
    height: 30px;
}
.days .day-item:hover {
    background-color: #D7DFF0;
}
.days .day-item a {
    vertical-align: middle;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #3E454C;
}