.modal {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;

    min-width: 450px;
    max-height: 700px;

    color: #646464;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.model-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.modal-background {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-background-blurred {
    overflow: hidden;
}
.modal hr {
    margin: 0;
    border: none;
    border-top: 1px solid rgb(230, 230, 230);
}
.modal-body {
    margin: 8px;
    overflow: hidden;
}
.modal-top {
    width: 100%;
    height: 40px;
}
.modal-title {
    font-size: 22px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-user-select   : none;
    -webkit-user-select: none;
    -ms-user-select    : none;
    user-select        : none;
    cursor: default;
}
.modal-bottom {
    clear: both;
    height: 45px;
    border-top: 1px solid rgb(230, 230, 230);
    background-color: rgb(240, 240, 240);
}

@media (max-width: 600px) {
    .modal {
        min-width: 300px;
        max-width: 550px;
        max-height: 700px;
    }
}