body {
    overflow: hidden;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 200px;
    min-width: 270px;
    width: 90%;
    height: 90%;
    max-height: 300px;
    max-width: 570px;
    border-radius: 8px;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    background-color: #FFF;
    padding: 0;
    color: rgb(140, 140, 140);
}
.modal-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: hidden;
}

.modal-background-blurred {
    overflow: hidden;
}

.modal hr {
    border: none;
    border-top: 1px solid rgb(230, 230, 230);
    margin: 0;
}

.modal-body {
    margin: 8px;
}

.modal-top {
    position: absolute;
    width: 100%;
    height: 40px;
    /*background: #C9DCEB;*/
}

.modal-title {
    font-size: 22px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.modal-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(240, 240, 240);
    height: 50px;
    border-top: 1px solid rgb(230, 230, 230);
}