<!--<!DOCTYPE html>
<html>
    <head>
        <title>Vennio - Stay organized. Visually.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="css/btn.css">
        <link rel="stylesheet" href="css/landing.css">
    </head>

    <body>-->
        <div id="login-modal-content" style="display: none">
            <div ng-click="loginWithGoogle()" class="social-login social-login-google">
                <i class="fa fa-google" aria-hidden="true" style="margin-right:4px;"></i>
                <span class="vr"></span>
                <div style="margin-left:14px;display:inline;">Log in with Google</div>
            </div>
            <div ng-click="loginWithFacebook()" class="social-login social-login-facebook">
                <i class="fa fa-facebook" aria-hidden="true" style="margin-right:4px;"></i>
                <span class="vr"></span>
                <div style="margin-left:14px;display:inline">Log in with Facebook</div>
            </div>
        </div>


        <div id="landing-bg" class="modal-background-blurred">
            <canvas id="bg-canvas" width="200" height="200">
                <!-- no HTML5 canvas support -->
            </canvas>
        </div>

        <div id="top-bar" class="modal-background-blurred">
            <div id="top-bar-content">
                <div id="brand">vennio</div>
                <div class="right">
                    <a class="nav-link" ng-click="showLoginModal()">Log In</a>
                </div>
            </div>
        </div>

        <div class="landing-page-hero modal-background-blurred">
            <h3>Welcome to your world.</h3>
            <hr>
            <p>
                Vennio introduces a fresh new way to organize your life.<br>
                It's versatile, elegant and natural.
            </p>

            <div class="hero-bottom">
                <div class="buttons">
                    <button class="btn primary">Learn More</button>
                </div>
            </div>
        </div>

        <!--<script src="js/external/jquery.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/landing.js"></script>
    </body>
</html>-->